extends layout

block content
  .container
    img#logo(src="/images/spark-white.png")
    #led.button.btn.btn-spark.btn-alizarian.btn-block Toggle LED
    #buzzer.button.btn.btn-spark.btn-amethyst.btn-block Toggle buzzer
    #vibrate.button.btn.btn-spark.btn-turquoise.btn-block Toggle vibrate